@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1691552212763') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xihuan:before {
  content: "\e60e";
}

.icon-lishijiaohuicon:before {
  content: "\e626";
}

.icon-good:before {
  content: "\e62a";
}

.icon-4:before {
  content: "\e650";
}

.icon-xihuan1:before {
  content: "\fb08";
}

.icon-aixin:before {
  content: "\e651";
}

